<?xml version="1.0" encoding="ISO-8859-1" ?> 
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0" metadata-complete="true">
  <description>Servlet and JSP Examples.</description> 
  <display-name>Servlet and JSP Examples</display-name> 
<servlet>
<servlet-name>AddOperator</servlet-name>
<servlet-class>com.thinking.machines.loyalty.servlets.AddOperator</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AddOperator</servlet-name>
<url-pattern>/AddOperator</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>UpdateOperator</servlet-name>
<servlet-class>com.thinking.machines.loyalty.servlets.UpdateOperator</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UpdateOperator</servlet-name>
<url-pattern>/UpdateOperator</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>GetAllOperators</servlet-name>
<servlet-class>com.thinking.machines.loyalty.servlets.GetAllOperators</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>GetAllOperators</servlet-name>
<url-pattern>/GetAllOperators</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>GetAllOperatorsByVendorOutletCode</servlet-name>
<servlet-class>com.thinking.machines.loyalty.servlets.GetAllOperatorsByVendorOutletCode</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>GetAllOperatorsByVendorOutletCode</servlet-name>
<url-pattern>/GetAllOperatorsByVendorOutletCode</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>GetOperatorByCode</servlet-name>
<servlet-class>com.thinking.machines.loyalty.servlets.GetOperatorByCode</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>GetOperatorByCode</servlet-name>
<url-pattern>/GetOperatorByCode</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>GetOperatorByName</servlet-name>
<servlet-class>com.thinking.machines.loyalty.servlets.GetOperatorByName</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>GetOperatorByName</servlet-name>
<url-pattern>/GetOperatorByName</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>GetOperatorByUsername</servlet-name>
<servlet-class>com.thinking.machines.loyalty.servlets.GetOperatorByUsername</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>GetOperatorByUsername</servlet-name>
<url-pattern>/GetOperatorByUsername</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>GetOperatorCount</servlet-name>
<servlet-class>com.thinking.machines.loyalty.servlets.GetOperatorCount</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>GetOperatorCount</servlet-name>
<url-pattern>/GetOperatorCount</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>GetOperatorCountByName</servlet-name>
<servlet-class>com.thinking.machines.loyalty.servlets.GetOperatorCountByName</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>GetOperatorCountByName</servlet-name>
<url-pattern>/GetOperatorCountByName</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>GetOperatorCountByUsername</servlet-name>
<servlet-class>com.thinking.machines.loyalty.servlets.GetOperatorCountByUsername</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>GetOperatorCountByUsername</servlet-name>
<url-pattern>/GetOperatorCountByUsername</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>GetOperatorCountByVendorOutletCode</servlet-name>
<servlet-class>com.thinking.machines.loyalty.servlets.GetOperatorCountByVendorOutletCode</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>GetOperatorCountByVendorOutletCode</servlet-name>
<url-pattern>/GetOperatorCountByVendorOutletCode</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>OperatorExists</servlet-name>
<servlet-class>com.thinking.machines.loyalty.servlets.OperatorExists</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>OperatorExists</servlet-name>
<url-pattern>/OperatorExists</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>OperatorExistsByUsername</servlet-name>
<servlet-class>com.thinking.machines.loyalty.servlets.OperatorExistsByUsername</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>OperatorExistsByUsername</servlet-name>
<url-pattern>/OperatorExistsByUsername</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>RemoveAllOperators</servlet-name>
<servlet-class>com.thinking.machines.loyalty.servlets.RemoveAllOperators</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RemoveAllOperators</servlet-name>
<url-pattern>/RemoveAllOperators</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>RemoveOperatorByCode</servlet-name>
<servlet-class>com.thinking.machines.loyalty.servlets.RemoveOperatorByCode</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RemoveOperatorByCode</servlet-name>
<url-pattern>/RemoveOperatorByCode</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>RemoveOperatorsByVendorOutletCode</servlet-name>
<servlet-class>com.thinking.machines.loyalty.servlets.RemoveOperatorsByVendorOutletCode</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RemoveOperatorsByVendorOutletCode</servlet-name>
<url-pattern>/RemoveOperatorsByVendorOutletCode</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>RemoveOperatorByUsername</servlet-name>
<servlet-class>com.thinking.machines.loyalty.servlets.RemoveOperatorByUsername</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RemoveOperatorByUsername</servlet-name>
<url-pattern>/RemoveOperatorByUsername</url-pattern>
</servlet-mapping>
</web-app>